.advantages {
  @media screen and(max-width: 767px) {
    margin-left: 36px;
    padding-top: 30px;
    padding-bottom: 49.5px;
  }

  @media screen and(min-width: 768px) {
    padding-bottom: 50px;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 96.5px;
    padding-bottom: 300px;
  }

  &__item {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.08em;
    color: var(--black-color);
    @media screen and(max-width: 767px) {
      width: 146px;

      margin-left: 68.82px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px), (max-width: 1279px) {
      // flex-basis: calc((100% - 42px) / 3);
      margin-left: 89.82px;
    }
    @media screen and(min-width: 1280px) {
      margin-left: 82px;
      // flex-basis: calc((100% - 44px) / 3);
      font-size: 20px;
      line-height: 1.65;
    }
  }

  &__item1::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -68.82px;
    transform: translateY(-50%);
    display: inline-block;
    width: 61px;
    height: 62px;
    background-image: url(/images/svg/man-mobile.svg);

    @media screen and(min-width: 1280px) {
      left: -85px;
      background-image: url(/images/svg/man-desktop.svg);
      width: 101px;
      height: 104px;
    }
  }

  &__item2::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -68.82px;
    transform: translateY(-50%);
    display: inline-block;
    background-image: url(/images/svg/study-mobile.svg);
    width: 61px;
    height: 62px;
    @media screen and(min-width: 1280px) {
      background-image: url(/images/svg/stydy-desktop.svg);
      width: 101px;
      height: 104px;
      left: -85px;
    }
  }

  &__item3::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -68.82px;
    transform: translateY(-50%);
    display: inline-block;
    background-image: url(/images/svg/dollar-mobile.svg);
    width: 61px;
    height: 62px;
    @media screen and(min-width: 1280px) {
      background-image: url(/images/svg/dollar-desktop.svg);
      width: 101px;
      height: 104px;
      left: -85px;
    }
  }

  &__list {
    display: inline-block;
    margin: 0 0.5rem;

    animation: backInRight;
    animation-duration: 2s;
    padding-inline-start: 0;
    @media screen and(min-width: 768px) {
      display: flex;
      margin-left: -21px;
    }

    @media screen and(min-width: 1280px) {
      margin-left: 0;
      justify-content: space-between;
    }
  }
}
