.guarantee {
  background-color: var(--white-color);


  @media screen and (max-width: 767px) {
   padding-top: 0;
   padding-bottom: 50px;
  } 

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 0px;
    padding-bottom: 130px;
  }
}



.guarantee-title {
  color: var(--black-color);

  @media screen and (max-width: 767px) {
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 34px;

  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;

  }

  @media screen and (min-width: 768px) {
  font-weight: 800;
  font-size: 26px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
  }

  @media screen and (min-width: 1280px) {

  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
  }
}

.guarantee-list {
  background-color: var(--grey-section);
  position: relative;
  list-style: none;


  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    // padding-right:

    margin: 0;

    &::before {
      content: "";
      height: 230px;
      // было 330пиксилей height
      // float: left;
      // margin-top: 30px;
      top: 35px;
      border-left: dashed 1px;   
      position: absolute;
      left: 19px;
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 118px;
   

    &::before {
      content: "";
      height: 180px;
      float: left;
      border-left: dashed 1px;   
      position: absolute;
      left: 85px;
      top: 35px;
      
    }
  }
  
  @media screen and (min-width: 1280px) {
    padding-top: 50px;
    padding-bottom: 45px;
    padding-right: 50px; 
    padding-left: 150px;

    &::before {
      content: "";
      height: 280px;
      float: left;
      border-left: dashed 1px var(--main-light-text);   
      position: absolute;
      left: 110px;
      top: 86px;
    }
  }
  
}

.guarantee-list__item {
  color: var(--main-dark-text);
  position: relative;
 
  @media screen and (max-width: 767px) {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 18px;



  &::before {
    content: "";
    background-image: url(../images/svg/fire.svg);
    width: 22px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: -40px;
  }
}


  @media screen and (min-width: 768px) {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    margin-bottom: 20px;

    &::before {
      content: "";
      background-image: url(../images/svg/fire.svg);
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 103%;
      background-repeat: no-repeat;
      left: -43px;
  
    }
  }

  @media screen and (min-width: 1280px) {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  margin-right: 30px;
  margin-top: 30px;

  &::before {
    content: "";
    background-image: url(../images/svg/fire.svg);
    width: 22px;
    height: 34px;
    display: inline-block;
    position: absolute;
    // right: 50%;
    left: -52px;

  }
  }
}

// .guarantee-list__item:not(:last-child)::before {
//   @media screen and (max-width: 767px) {
//     border-left: 1px dashed var(--main-light-text);
//     content: '';
//     position: absolute;
//     top: 35px;
//     left: 15px;
//     height: 65%;
//   }
// }

// .guarantee-list__item::after {
//   @media screen and (max-width: 767px) {
//     content: '';
//     width: 22px;
//     height: 30px;
//     background-image: url(../images/svg/fire.svg);
//     position: absolute;
//     left: 6px;
//     z-index: 999;
//     // top: 50%;
//   }
// }

.guarantee-list__orange {
  color: var(--orange-color);
  
}