.hero {
  @media screen and(max-width: 767px) {
    padding-top: 50.47px;
    padding-bottom: 66.15px;
  }

  @media screen and(min-width: 768px) {
    position: relative;
    padding-top: 70px;
    padding-bottom: 92.5px;
  }

  @media screen and(min-width: 1280px) {
    padding-top: 125px;
    padding-bottom: 144.5px;
  }
}
