<section class="benefits">
    <div class="container" >
        <h2 class="benefits__tittle">Почему нас выбирают</h2>
        <ul class="list-problems list-benefits__poistion">
            <li class="list-problems__item">
                <p class="list-problems__text">Обучение в малых командах</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Визуализированные конспекты</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Каждое занятие имеет цель и конкретный результат</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Ревльные результаты преподавателя</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Прогамма курса соответствует требованиям МОН Украины</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Недостатой самоорганизации и лень</p>
            </li>
        </ul>
    </div>
</section>