<!-- CONTACTS -->


<section class="contacts">
    <div class="container">
        <h2 class="contacts-title">Регистрация на <span class="text-orange">бесплатную</span> телефонную <span
                class="text-orange">консультацию</span> по нюансам ЗНО
            по английскому языку</h2>

        <form class="contacts-form" id="contacts-id">
            <p class="contacts-text">Оставь заявку на участие в <span class="text-orange">бесплатном занятии.   </span>
                <br>С вами свяжется консультант и ответит на вопросы</p>

            <input class="contacts-input" type="text" name="usename" placeholder="Имя*"  pattern="[a-zA-Zа-яА-ЯёЁ ]+" required/>

            <input class="contacts-input" type="tel" name="phone_number" placeholder="Телефон*" pattern="\+\d{2}-\d{3}-\d{3}-\d{3}" required/>

            <button type="submit" class="contacts-button">ХОЧУ НА БЕСПЛАТНОЕ ЗАНЯТИЕ</button>

        </form>
    </div>

</section>