<footer>
    <div class="container foter-container">
        <div class="header__text-container">
            <a href="/" class="header__logo header__logo--nopading">
                <span class="header__text">Hell</span>
                <svg width="22" height="30">
                    <use href="/images/svg/icon-moon.svg#icon-fire">
        
                    </use>
                </svg>
        
                <span class="header__text">EN</span> <br>
        
        
                <span class="header__text--little  header__text--little-orange">Адский</span> <span
                    class="header__text--little">
                    английский </span>
        
            </a>
        </div>
<address class="adress">
        <a class="adress__link" href="tel:+38096111111">
            <svg width="20" height="20" class="adress__svg">
                <use href="/images/svg/icon-moon.svg#icon-tel"></use>
            </svg>
            
    
            +38 (000) 111 111 11</a>

            

            </address>

<a class="instagramm" href=""></a>

    </div>
    <div class="copiright">
        <p class="copiright__text container">
            @ Все права защищены,2019
        </p>

    </div>


</footer>