<header class="page-header">

    <div class="page-header__container  container">
        <a href="/" class="logo">
            <span class="logo__text">Hell</span>
            <svg width="22" height="30">
                <use href="/images/svg/icon-moon.svg#icon-fire">
            
                </use>
            </svg>

            <span class="logo__text">En</span>
        </a>

        <p>
            Адский английский
        </p>

        

        <a class="page-header__consultation" href="tel:+38096111111">

            Консультация по телефону</a>



        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="20" height="12">
                <use href="/images/svg/icon-moon.svg#icon-fire"">
        
                </use>
            </svg>
        </button>


       
</header>