<header class="header">

    <div class="header__container  container">
        <div class="header__text--bottom">
        <a href="/" class="header__logo">
            <span class="header__text">Hell</span>
            <svg width="22" height="30">
                <use href="/images/svg/icon-moon.svg#icon-fire">
            
                </use>
            </svg>

            <span class="header__text">EN</span>

         <p  >
                <span class="header__text--little  header__text--little-orange">Адский</span> <span class="header__text--little">
                    английский </span>
            
         </p>
        </a>
        </div>

       
        <div class="header-menu">
            <ul class="header-menu__list">
                <li class="">
                     <a href="" class="header-menu__link">Программы обучения</a>
                </li>
                <li class="header-menu__item">
                    <a href="" class="header-menu__link menu__link--current">О нас</a>
                </li>
                <li class="header-menu__item">
                    <a href="" class="header-menu__link">Варианты обучения</a>
                </li>
                <li class="">
                    <a href="" class="header-menu__link">Контакты</a>
                </li>
            </ul>
            </div>

    

        <button  class="header__consultation" type="button">Консультация по телефону</button>



        <button class="menu-toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
            <svg width="20" height="12">
                <use href="/images/svg/icon-moon.svg#icon-fire"">
        
                </use>
            </svg>
        </button>


       
</header>