<section class="hero">
    <h1 class="hero__title">Комплексная подготовка к ВНО по английскому языку</h1>
    <p class="hero__text">Просто не будет. Но ты гарантировано наберешь +25 баллов</p>
    <button class="hero__button">хочу на бесплатное занятие</button>
    <div class="hero__imgbox">
        <img src="../images/Ellipse1.png" alt="" class="hero__background" width="841.55px" height="602.24px">
        <img src="../images/Ellipse2.png" alt="" class="hero__picture" width="719.17px" height="718.14px">
    </div>
</section>

