<!-- Hero -->
<div class="hero__wave">
<section class="hero container">
   <div class="hero__textbox">
    <h1 class="hero__title">Комплексная <br> подготовка к ВНО <br> по английскому языку</h1>

    <p class="hero__text hero__text1">Просто не будет.</p>
    <!-- <div class="hero__textbox"> -->
        <p class="hero__text hero__text2">Но ты гарантировано наберешь</p>
        <p class="hero__text hero__text3">+25 баллов</p>
    <!-- </div> -->
    <div class="hero__btnbox">
<a href="#reviews">
    <button class="hero__button" type="button">хочу на бесплатное занятие</button>
</a>
</div>
</div>
    <div class="hero__imgbox">
        <img 
        src="images/Group57(1).png" 
        srcset="
        images/Group57(1).png 1x,
        images/Group57@2x(1).png 2x"
        alt="Hero background" class="hero__background">
        
    </div>
    

</section>
</div>

