<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle menu-toggle--white js-close-menu">
        <svg width="15" height="15">
            <use href="/images/svg/icon-moon.svg#icon-close-menu">

            </use>
        </svg>
    </button>

   

    <div class="header__text-container">
            <a href="/" class="header__logo">
                <span class="header__text header__text--white">Hell</span>
                <svg width="22" height="30">
                    <use href="/images/svg/icon-moon.svg#icon-fire">
        
                    </use>
                </svg>
        
                <span class="header__text header__text--white">EN</span> <br>
        
        
                <span class="header__text--little  header__text--little-orange header__text--white">Адский</span> <span
                    class="header__text--little header__text--white">
                    английский </span>
        
        
            </a>
   
   </div>

<ul class="mobile-menu list">
    <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Программы обучения</a>
    </li>
    <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link mobile-menu__link--current">О нас</a>
    </li>
    <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Варианты обучения</a>
    </li>
    <li class="mobile-menu__item">
        <a href="" class="mobile-menu__link">Контакты</a>
    </li>
</ul>

<button class="mobile__consultation" type="button">Консультация по телефону</button>

        
 </div>

 