<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle menu-toggle--white js-close-menu">
        <svg width="35" height="35">
            <use href="/images/svg/icon-moon.svg#icon-close-black-18dp-2-1-1">

            </use>
        </svg>
    </button>

    <div class="mobile-menu">

        <div class="header__text-container">
            <a href="/" class="header__logo">
                <span class="header__text header__text--white">Hell</span>
                <svg width="22" height="30">
                    <use href="/images/svg/icon-moon.svg#icon-fire">
        
                    </use>
                </svg>
        
                <span class="header__text header__text--white">EN</span> <br>
        
        
                <span class="header__text--little  header__text--little-orange header__text--white">Адский</span> <span
                    class="header__text--little header__text--white">
                    английский </span>
        
        
            </a>
        </div>
        <ul>
            <li>

            </li>

        </ul>
</div>