<section class="problems">
    <div class="container">
        <h2 class="problems__tittle visually-hidden">Problems</h2>
        <div class="problems__text">
            Главные проблемы учеников
            на English ВНО, которые<br>
            мы <span class="problems__help">помогаем</span> решить
        </div>
        <div class="problems__bg-fire"></div>
        <ul class="list-problems">
            <li class="list-problems__item">
                <p class="list-problems__text">Название грамматики</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Неумение вомпринимать
                    устную английскую речь</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Скупой словарный запас для написани сочинения</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Подготовка в одиночку</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Отсутствие единого ресурса знаний</p>
            </li>
            <li class="list-problems__item">
                <p class="list-problems__text">Недостатой самоорганизации и лень</p>
            </li>
        </ul>
    </div>
</section>