<!-- Reviews -->
<section class="reviews">
    <div class="container">
        <h2 class="section__title">Отзывы выпускников</h2>

        <button class="reviews-button reviews-button--hide reviews-button__prev" type="button">
            <svg class="reviews-button__icon" width="30" height="30">
                <use href="images/svg/icon-moon.svg#icon-arrow-left"></use>
            </svg>
        </button>

        <article class="reviews__card">
            <div class="reviews__social">
                <div class="reviews__thumb">
                    <img class="reviews__img" srcset="images/Tonja-Kucherovskaja.jpg 1x, images/Tonja-Kucherovskaja@2x.jpg 2x"
                    src="images/Tonja-Kucherovskaja.jpg" alt="Девушка с длинными волосами"
                    loading="lazy">               
                </div>
                <a href="" class="reviews__link">                    
                </a>
            </div>
            <div>
                <h3 class="reviewer">Тоня Кучеровская</h3>
                <div>
                    <p class="reviewer__edu">Выпуск 2015-го года, Національний університет <br> біоресурсів
                        і природокористування України</p>
                    <p class="reviewer__text">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                        зовсім пустий словниковий запас. З першого ж
                        заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                        справді хвилювала моя
                        успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити
                        найменшу помилку. Зараз
                        я можу похизуватись тим, що я студен ...
                        <span class="reviewer__text--inverse">Читать дальше</span>
                    </p>
                </div>
            </div>
        </article>

        <button class="reviews-button reviews-button--hide reviews-button__next" type="button">
            <svg class="reviews-button__icon" width="30" height="30">
                <use href="images/svg/icon-moon.svg#icon-arrow-right"></use>
            </svg>
        </button>

        <div class="reviewers-group">
            <button class="reviewers-group__button" type="button">
                <svg class="reviews-button__icon" width="30" height="30">
                    <use href="images/svg/icon-moon.svg#icon-arrow-left"></use>
                </svg>
            </button>

            <ul class="reviewers-list">
                <a href="" class="reviewers-list__link">
                    <img class="reviewers-list__img" srcset="images/Ellipse9.jpg 1x, images/Ellipse9@2x.jpg 2x"
                    src="images/Ellipse9.jpg" alt="Брюнетка с косичкой"
                    loading="lazy" width="54">                        
                </a>
                <a href="" class="reviewers-list__link">
                    <img class="reviewers-list__img" srcset="images/Ellipse10.jpg 1x, images/Ellipse10@2x.jpg 2x"
                    src="images/Ellipse10.jpg" alt="Девушка в голубом" 
                    loading="lazy" width="54">
                </a>
                <a href="" class="reviewers-list__link">
                   <img class="reviewers-list__img" srcset="images/Ellipse11.jpg 1x, images/Ellipse11@2x.jpg 2x"
                    src="images/Ellipse11.jpg" alt="Молоденькая девушка" 
                    loading="lazy" width="54">
                </a>
            </ul>
            
            <button class="reviewers-group__button reviewers-group__button--musk" type="button">
                <svg class="reviews-button__icon" width="30" height="30">
                    <use href="images/svg/icon-moon.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>

        <ul class="reviewers-view">
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse9.jpg 1x, images/Ellipse9@2x.jpg 2x"
                    src="images/Ellipse9.jpg" alt="Брюнетка с косичкой" loading="lazy" width="54">
            </a>
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse10.jpg 1x, images/Ellipse10@2x.jpg 2x"
                    src="images/Ellipse10.jpg" alt="Девушка в голубом" loading="lazy" width="54">
            </a>
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse11.jpg 1x, images/Ellipse11@2x.jpg 2x"
                    src="images/Ellipse11.jpg" alt="Молоденькая девушка" loading="lazy" width="54">
            </a>

            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse12.jpg 1x, images/Ellipse12@2x.jpg 2x"
                    src="images/Ellipse12.jpg" alt="Девушка с зелеными глазами" loading="lazy" width="54">
            </a>
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse13.jpg 1x, images/Ellipse13@2x.jpg 2x"
                    src="images/Ellipse13.jpg" alt="Девушка с синими глазами" loading="lazy" width="54">
            </a>
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Tonja-Ellipse.jpg 1x, images/Tonja-Ellipse@2x.jpg 2x"
                    src="images/Tonja-Ellipse.jpg" alt="Девушка с длинными волосами" loading="lazy" width="54">
            </a>
            <a href="" class="reviewers-view__link">
                <img class="reviewers-list__img" srcset="images/Ellipse15.jpg 1x, images/Ellipse15@2x.jpg 2x"
                    src="images/Ellipse15.jpg" alt="Девушка с очками" loading="lazy" width="54">
            </a>
        </ul>

    </div>
</section>